<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include "partials/head.njk" %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
